<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>Repo.controller.ServletFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ServletMenuFilter</filter-name>
        <filter-class>Repo.controller.ServletMenuFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ServletMenuFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/frmProjectDashboard.html</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServleTCheckUserName</servlet-name>
        <servlet-class>Repo.controller.ServleTCheckUserName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddUser</servlet-name>
        <servlet-class>Repo.controller.ServletAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerification</servlet-name>
        <servlet-class>Repo.controller.UserVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostDownload</servlet-name>
        <servlet-class>Repo.controller.mostDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddSubtask</servlet-name>
        <servlet-class>Repo.controller.ServletAddSubtask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUser</servlet-name>
        <servlet-class>Repo.controller.ServletGetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowTask</servlet-name>
        <servlet-class>Repo.controller.ServletShowTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubTask</servlet-name>
        <servlet-class>Repo.controller.ServletSubTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTask</servlet-name>
        <servlet-class>Repo.controller.ServletTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginVerification</servlet-name>
        <servlet-class>Repo.controller.ServletLoginVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowAllProj</servlet-name>
        <servlet-class>Repo.controller.ServletShowAllProj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserDashBoard</servlet-name>
        <servlet-class>Repo.controller.ServletUserDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProjectHome</servlet-name>
        <servlet-class>Repo.controller.ServletProjectHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetDownloadData</servlet-name>
        <servlet-class>Repo.controller.ServletGetDownloadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetLicense</servlet-name>
        <servlet-class>Repo.controller.ServletGetLicense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewDocumentation</servlet-name>
        <servlet-class>Repo.controller.ServletViewDocumentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPeople</servlet-name>
        <servlet-class>Repo.controller.ServletPeople</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserProfile</servlet-name>
        <servlet-class>Repo.controller.ServletUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadImage</servlet-name>
        <servlet-class>Repo.controller.ServletUploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditProfile</servlet-name>
        <servlet-class>Repo.controller.ServletEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditDocument</servlet-name>
        <servlet-class>Repo.controller.ServletEditDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearch</servlet-name>
        <servlet-class>Repo.controller.ServletSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckUser</servlet-name>
        <servlet-class>Repo.controller.ServletCheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSendMail</servlet-name>
        <servlet-class>Repo.controller.ServletSendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifyRand</servlet-name>
        <servlet-class>Repo.controller.ServletVerifyRand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubmitPass</servlet-name>
        <servlet-class>Repo.controller.ServletSubmitPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditProject</servlet-name>
        <servlet-class>Repo.controller.ServletEditProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProjectImage</servlet-name>
        <servlet-class>Repo.controller.ServletProjectImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletreview</servlet-name>
        <servlet-class>Repo.controller.Servletreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearchUser</servlet-name>
        <servlet-class>Repo.controller.ServletSearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRequestUser</servlet-name>
        <servlet-class>Repo.controller.ServletRequestUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDisplayRequest</servlet-name>
        <servlet-class>Repo.controller.ServletDisplayRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAcceptInvitation</servlet-name>
        <servlet-class>Repo.controller.ServletAcceptInvitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetTaskProgress</servlet-name>
        <servlet-class>Repo.controller.ServletGetTaskProgress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServleTCheckUserName</servlet-name>
        <url-pattern>/ServleTCheckUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddUser</servlet-name>
        <url-pattern>/ServletAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerification</servlet-name>
        <url-pattern>/UserVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostDownload</servlet-name>
        <url-pattern>/mostDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddSubtask</servlet-name>
        <url-pattern>/ServletAddSubtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUser</servlet-name>
        <url-pattern>/ServletGetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowTask</servlet-name>
        <url-pattern>/ServletShowTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubTask</servlet-name>
        <url-pattern>/ServletSubTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTask</servlet-name>
        <url-pattern>/ServletTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginVerification</servlet-name>
        <url-pattern>/ServletLoginVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowAllProj</servlet-name>
        <url-pattern>/ServletShowAllProj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserDashBoard</servlet-name>
        <url-pattern>/ServletUserDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProjectHome</servlet-name>
        <url-pattern>/ServletProjectHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetDownloadData</servlet-name>
        <url-pattern>/ServletGetDownloadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetLicense</servlet-name>
        <url-pattern>/ServletGetLicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewDocumentation</servlet-name>
        <url-pattern>/ServletViewDocumentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPeople</servlet-name>
        <url-pattern>/ServletPeople</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserProfile</servlet-name>
        <url-pattern>/ServletUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadImage</servlet-name>
        <url-pattern>/ServletUploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditProfile</servlet-name>
        <url-pattern>/ServletEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditDocument</servlet-name>
        <url-pattern>/ServletEditDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearch</servlet-name>
        <url-pattern>/ServletSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckUser</servlet-name>
        <url-pattern>/ServletCheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSendMail</servlet-name>
        <url-pattern>/ServletSendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifyRand</servlet-name>
        <url-pattern>/ServletVerifyRand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubmitPass</servlet-name>
        <url-pattern>/ServletSubmitPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditProject</servlet-name>
        <url-pattern>/ServletEditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProjectImage</servlet-name>
        <url-pattern>/ServletProjectImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletreview</servlet-name>
        <url-pattern>/Servletreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearchUser</servlet-name>
        <url-pattern>/ServletSearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRequestUser</servlet-name>
        <url-pattern>/ServletRequestUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDisplayRequest</servlet-name>
        <url-pattern>/ServletDisplayRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAcceptInvitation</servlet-name>
        <url-pattern>/ServletAcceptInvitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetTaskProgress</servlet-name>
        <url-pattern>/ServletGetTaskProgress</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
